@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: aria;
  src: url('../public/font/آریا/Aria-Medium.ttf');
}
html
{
  text-align: right;
  direction: rtl;
}
body
{
  margin: 0;
  padding: 0;
  font-family: aria !important;
  color: #55555f;
}
.rotate-y-180
{
  transform: rotateY(180deg);
}
.scale-2
{
  scale: 2;
}
.search-box-main
{
  direction: ltr;
}
.search-box-main > input
{
  direction: rtl;
}
.swiper-button-next,.swiper-button-prev
{
  color: rgb(255, 255, 255) !important;
  transition: all ease-out 0.3s;
}
.swiper-pagination-bullet-active
{
  background-color: rgb(255, 255, 255) !important;
}
.swiper-pagination-bullet
{
  background-color: #ffff !important;
}
.swiper-button-prev:hover
{
  color: rgb(255, 85, 0) !important;
}
.swiper-button-next:hover
{
  color: rgb(255, 85, 0) !important;
}
.scroll-None::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
}
.sliderContainer_1
{
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slider_item
{
  scroll-snap-align: start;
}
.GraphicCategories
{
  width: calc(25% - 10px);
} 
.GraphicCategories:hover
{
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.latest_article
{
  width: 25%;
}